.App {

  .sideComp{
    display: inline-block;
    width: 20%;
    background-color: #fff;
    color: #2f4cdd;
    font-size: 1.6rem;
    padding: 1rem;
  }

  .mainComp{  
    display: inline-flex;
    width: 80%;
    flex-direction: column;
  }
}
